<!DOCTYPE html>
<html lang="ko">
    <%- include ('template/head.ejs') %>
    <body id="page-top" style="background-color: #f0f0f0;">
        <%- include ('template/header.ejs') %>
        <div class="container-md" style="position:absolute; left: 53%; top: 50%; transform: translate(-50%,-50%);">
            <div style="display: flex; width: 100%;">
                <div class="login_container">
                    <div class="login-page">
                        <div class="form" style="border: 1px solid #d3d3d3;">
                                <div class="three">
                                    <h1>Ju Topia</h1>
                                  </div>
                                  <div class="two">
                                    <h1>
                                      <span>Tourlist</span>
                                    </h1>
                                  </div>
                                <a href="/tourlist"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 30px; font-size: 20px;">
                                    <span class="material-symbols-outlined" style="font-size: 25px;">tour </span>  관광지로 이동  ▶</button></a> <br>
                                    <div class="two">
                                    <h1>
                                      <span>Restaurant</span>
                                    </h1>
                                  </div>
                                <a href="/restaurant"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 30px; font-size: 20px;">
                                    <span class="material-symbols-outlined" style="font-size: 25px;">ramen_dining </span>  식당으로 이동  ▶</button></a>
                        </div>
                    </div>
                </div>
                <div class="image_container">
                    <img src="/assets/img/관광지.png" class="img-fluid" style="height: 100%;">
                    <p class="main_text" style="margin-top: -68%; margin-left: 2%;">Beutiful Chungju</p>
                    <p class="sub_text" style=" margin-left: 2%;">충주 힐링 여행 웹 어플리케이션 텀프로젝트</p>
                </div>
            </div>
        </div>
        <!-- <p class="main_text" data-split="Beutiful Chungju">Beutiful Chungju</p>
        <p class="sub_text" data-split="충주 힐링 여행 웹 어플리케이션 텀프로젝트">충주 힐링 여행 웹 어플리케이션 텀프로젝트</p> -->
        <!-- <p>◀ Start ▶</p> -->
        <!-- <div class="main_img">
            <div class="left_img" style="text-align: center;"><a href="/restaurant"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 100px; font-size: 35px; margin-top: 45%;">
                <span class="material-symbols-outlined" style="font-size: 40px;">ramen_dining </span>  Restaurant  ></button></a></div>
            <div class="right_img" style="text-align: center;"><a href="/tourlist"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 100px; font-size: 35px; margin-top: 45%;">
                <span class="material-symbols-outlined" style="font-size: 40px;">tour </span>  Tourlist  ></button></a></div>
        </div> -->
        <div class="container">
        <!-- Masthead-->
        <header class="masthead text-white text-center">
            <div class="container d-flex align-items-center flex-column" style="position: absolute; top: 30%;">

                <img class="masthead-avatar mb-5"/>

                <!-- <div class="divider-custom divider-light" style="color:#404040">
                    <div class="divider-custom-line" style="background-color:#404040"></div>
                    <div class="divider-custom-icon" style="color:#404040"><i class="fas fa-star" style="color:#404040"></i></div>
                    <div class="divider-custom-line" style="background-color:#404040"></div>
                </div>
                <a href="/tourlist"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 100px; font-size: 35px;">
                    <span class="material-symbols-outlined" style="font-size: 40px;">tour </span>  Tourlist  ▶</button></a> <br>
                <a href="/restaurant"><button class="btn btn-primary rounded-pill" style="background-color: #ffc800; border-color: #ffc800; font-weight: bold; padding: 15px 100px; font-size: 35px;">
                    <span class="material-symbols-outlined" style="font-size: 40px;">ramen_dining </span>  Restaurant  ▶</button></a> -->
            </div>
        </header>
    </div>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white" style="position:absolute; width: 100%; bottom: 0;">
            <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
        </div>
        <!-- Portfolio Modals-->
    </body>
</html>